<div *ngIf="oglas">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{oglas.naziv}}</mat-card-title>
      <mat-card-subtitle>{{oglas.kreiraoKorisnik!.username}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="http://localhost:3002/slika/imeSlike/{{oglas.slike}}" class="slika" alt="slika"/>
      <mat-card-content>
        <ul>
          <li mat-list-item>Kvalitet: {{oglas.kvalitet}}</li>
          <li mat-list-item>Datum kreiranja: {{oglas.datumKreiranja | date:'mediumDate'}}</li>
          <li mat-list-item>Broj poseta: {{oglas.brojPoseta}}</li>
        </ul>
      </mat-card-content>
    </mat-card>
</div>
