.login-wrap {

    position: absolute;

    left: 50%;

    top: 50%;

    transform: translate(-50%, -50%);

    background-color: #eeeeee3c;

    border-radius: 2%;

    background-image: url('http://localhost:4200/assets/login-slika.jpg');

    background-size: 100% 100%;

    background-repeat: no-repeat;

    width: 700px;

    padding: 60px;

  }

 

  .login-wrap h1 {

    font-size: 36px;

    text-align: center;

  }

 

  .login-wrap .row {

    display: flex;

    justify-content: center;

    align-items: center;

  }

 

  .login-wrap .form-group {

    margin-bottom: 20px;

  }

 

  .login-dugmici {

    margin-left: 5px;

    margin-right: 5px;

    margin-top: 15px;

  }