<div class="login-wrap">
  <div class="row">
    <div>
      <h1>Log in</h1>
      <hr><br>
      <form (ngSubmit)="onSubmit()" ngNativeValidate style="padding: 10px">
        <div class="form-group">
          <label for="username">Korisničko ime</label>
          <input
            [(ngModel)]="user.username"
            name="username"
            required
            class="form-control"
            id="username"
            placeholder="Unesite korisničko ime">
        </div>
        <div class="form-group">
          <label for="password">Šifra</label>
          <input
            [(ngModel)]="user.password"
            name="password"
            type="password"
            required
            class="form-control"
            id="password"
            placeholder="Unesite sifru">
        </div>
        <button type="submit" class="btn btn-primary login-dugmici">Prijavite se</button>
        <a [routerLink]="['/']" class="btn btn-success login-dugmici">Odustanite</a>
      </form>
      <p>
        <span>Nemate nalog?&nbsp;</span>
        <a [routerLink]="['/signup']">Napravite!</a>
      </p>
    </div>
  </div>
</div>
