<div class="full-wrap">
    <div class="prijave" *ngIf="prijave">
        <div class="prijava-card" *ngFor="let p of prijave">
            <mat-card *ngIf="p.ishod!=='resena'">
                <mat-card-header>
                    <mat-card-title>{{p.kojiOglasSePrijavljuje.naziv}}</mat-card-title>
                    <mat-card-subtitle>{{p.kojiKorisnikSePrijavljuje.username}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>{{p.tema}}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" (click)="pogledaj(p)">Pogledaj</button>
                    <button mat-raised-button color="warn" (click)="obrisiOglas(p)">Obrisi oglas</button>
                    <button mat-raised-button color="warn" (click)="obrisiKorisnika(p)">Obrisi korisnika</button>
                    <button mat-raised-button color="basic" (click)="otkazi(p)">Storniraj</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
